
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

body{
    background: linear-gradient(45deg, rgb(214, 195, 212) , rgb(185, 204, 183));
}
h1{
    display: flex;
    justify-content: center;
}
