* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(132, 166, 179), rgb(106, 79, 186));
}

h1 {
    display: flex;
    justify-content: center;
}

.container {
    
    display: table;
    justify-content: center;
    
}

.encabezado {
    margin-top: 50px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 4px solid rgb(117, 169, 185);
    background: linear-gradient(45deg, #b6dea6, #6d6bd8);
}

.diagrama {
    margin-top: 10px;
    width: 12%;
    height: 50%;
    margin-left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: 4px solid rgb(17, 84, 2);
    background: linear-gradient(45deg, #91db91, #09781f);
}

.encabezado2 {
    margin-top: 50px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 4px solid rgb(113, 165, 183);
    background: linear-gradient(45deg, #b6dea6, #6d6bd8);
}

.diagrama2 {
    margin-top: 10px;
    width: 30%;
    height: 50%;
    margin-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: 4px solid rgb(17, 84, 2);
    background: linear-gradient(45deg, #91db91, #09781f);
}


footer{
    display: flex;
    justify-content: center;
    margin-top: 600px;
}